body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background-color: whitesmoke;
}

main {
    width: 100%;
}

header h1 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0 4rem 0;
}

.card-wrapper {
    margin: 2rem 4rem 0 4rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 1.625rem;
}

.movie-card {
    margin: 0.125rem;
    padding: 0 1rem 2rem 1rem;
    display: flex;
    /* border-bottom: black 1px solid;
    border-right: black 1px solid; */
    background-color: white;
    border-radius: 0.825rem;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.movie-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.movie-poster{
    height: 165px;
    width: 112px;
}

.movie-heading {
    padding: 1rem;
    font-size: 0.825rem
}

.movie-year {
    margin-top: 1rem;
}

.message1, .message2, .message3 {
    color: red;
    text-align: center;
}